*{
    font-family: Arial, Helvetica, sans-serif;
}
#wrapper {
    position: absolute;
    left: 27%;
    top: 23%;
    width: 523px;
    height: 350px;
    border: 1px solid rgb(119, 163, 221);
}
#start{
    background-color: rgb(119, 163, 221);
    margin-left: 27%;
    padding: 15px 32px;
    font-size: 25px;
    color: white;
}
#questionsDiv {
    padding: 20px;
    margin-top: 50px;
}

#currentTime {
    float: right;
    padding: 1em;
}

#home {
    background-color: rgb(119, 163, 221);;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    left: 55%;
    width: auto;
    text-align: center;
    text-decoration: none;
}



#clear {
    background-color:rgb(119, 163, 221);;
    position: relative;
    padding: 10px;
    font-size: 20px;
    color: white;
    top: 30%;
    right: 5%;
    text-align: center;
}

button {
    border-radius: 8px;
}

textarea {
    width: 90%;
    margin: 20px;
}

#confirmInitials {
    background-color: rgb(119, 163, 221);;
    margin-left: 33%;
    padding: 15px 32px;
    font-size: 20px;
    color: white;
}

input {
    margin-bottom: 20px;
    width: 50%;
    border: 1px solid lightgray;
}

h1 {
    text-align: center;
}

li {
    background-color: rgb(119, 163, 221);
    margin-top: 10px;
    padding: 5px 15px;
    width: 80%;
    font-size: 18px;
    color: white;
}

#createDiv {
    margin-top: 20px;
    border-top: 1px solid lightgray;
}

